.Card-container {
  /* border: 1px solid black; */
  min-height: 300px;
  margin-top: 25px;
  padding: 20px;
  max-width: auto;
}

.reqcard_title {
  margin-left: 10px;
}

.pre_history_req {
  display: flex;
  justify-content: space-evenly;
}

.No-request-container {
  color: rgb(137, 135, 135);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  opacity: 1;
  animation: fade 3s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.user_icon {
  line-height: 2;
  margin-right: 2px;
}
