/* .main-container {
} */

.steps-img-fluid {
  width: auto;
  height: 500px;
}

.steps-container {
  background: url("../../Images/steps_2.png");
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.01);
}
/* .video-container {
  /* border: 1px solid black; 
} */
/* @media screen and (max-width: 780px) {
  .steps-container {
    display: block;
    height: 500px;
  }
} */
