/* body {
  background-color: red;
} */

.reg-main-form-div {
   background: linear-gradient(
    45deg,
    rgba(9, 9, 121, 0.8282270671940651) 25%,
    rgba(6, 78, 166, 0.8394315489867822) 59%,
    rgba(70, 130, 173, 0.9206640419839811) 90%
  );
  height: auto;
  border-radius: 15px;
}

.chk_lbl {
  /* margin-top: 4.5px; */
  margin-left: 5.5px;
  color: white;
}

.radios {
  justify-content: center;
  align-items: center;
}

.checks {
  padding-bottom: 5px;
}

.check_2 {
  margin-left: 17px;
}
