/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"); */

/* * {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  /* overflow: hidden; */
/* box-sizing: border-box; */
/* } */

/* body {
  height: 100vh;
} */

/* //Login Css */

/* .main-content {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #008080;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}

@media screen and (max-width: 640px) {
  .logo {
    margin-left: 10px;
  }

  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
.row > h2 {
  color: #008080;
}
.login_form {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
form {
  padding: 0 2em;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}
.btn {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #008080;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #008080;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

@media (min-width: "420px") {
  .logo {
    margin-left: 10px;
  }

  .col-sm-12 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
} */

/* ************************ Registration Design************************** */

/* .Reg_container {
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.container_signup input,
input {
  background-color: #fff;
  width: 100%;
  padding: 0.8em;
  border: 2px solid black;
  /* border-bottom: 1px solid black; 
  outline: none;
  border-radius: 50px;
}
.col_1 {
  background-image: url(./Images/volunteer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.container h4 {
  /* color: rgb(84, 206, 236); 
  color: #1f1f1f;
  margin: 5px 0;
  font-weight: bold;
  font-size: 2rem;
}
.container_signup textarea {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
  overflow: hidden;
}

.container_signup button {
  padding: 8px 5px;
  width: 80%;
  border: 2px solid #0b4078;
  outline: none;
  color: #0b4078;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0.5em;
  transition: all 0.1s;
  transition-timing-function: ease-in-out;
}

.container_signup button:hover {
  border: none;
  background-color: #0b4078;
  color: white;
}

form {
  padding: 0 2em;
  margin: auto;
  justify-content: center;
  width: 80%;
}

.detail_from {
  margin: 10px 0;
}

@media (max-width: 560px) {
  .row {
    display: block !important;
  }

  .col_1 {
    display: none;
  }

  .steps-container {
    display: none;
  }

  .container_signup {
    display: block !important;
  }
}

@media (max-width: 800px) {
  .row {
    display: flex !important;
  }

  .col_1 {
    background-position: center;
  }

  .container_signup {
    display: flex !important;
  }
} */

/*  Search  */

/*============= volunteer form============== */

/* admin */
/* body {
  width: 100vw;
  height: 100vh;
} */

.admin_body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  background: #f2f2f2;
  overflow-x: hidden;
  z-index: 1;
  /* display: flex; */
}

.admin_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000831;
  position: relative;
  margin-bottom: 1px;
}

.admin_left {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  cursor: pointer;
  width: 120px;
  height: 50px;
  margin: 5px;
}

.admin_MenuToggle {
  display: none;
}

.admin_toggle__icon {
  /* position: absolute; */
  /* top: 24px; */
  /* left: 100px; */
  cursor: pointer;
  color: #fff;
  /* z-index: 1; */
}

.admin_toggle__icon .line {
  width: 24px;
  height: 3px;
  background-color: #fff;
  color: #fff;
  margin: 6px 0;
  display: block;
  border-radius: 8px;
}

/* sidebar */

.admin_sidebar {
  width: 250px;
  height: 100%;
  background: #020321;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.8s ease;
  overflow: hidden;
}

.admin_nav_items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin_nav_items .navs {
  width: 100%;
  padding: 20px 0px 20px 50px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}

/* .admin_nav_items a.admin_active:active */
.admin_nav_items .navs:hover {
  background: #031156;
}

.admin_MenuToggle:checked ~ .admin_sidebar {
  width: 0;
  transform: translateX(-250px);
}

/* .admin_MenuToggle:checked~.admin_right {
  width: 100%;
} */

/* admin_main_right */

.admin_main {
  display: flex;
  height: 100%;
}

.admin_main_right {
  width: calc(100% - 250px);
}
